@use '@angular/material' as mat;
@include mat.core();

$app-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
      bold-weight: 500,
      medium-weight: 400,
      regular-weight: 300,
    ),
    density: (
      scale: -5,
    ),
  )
);

html {
  @include mat.core-theme($app-theme);
  @include mat.core-typography($app-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
